<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>jinqianl</title>
<!-- Bootstrap -->
<link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
	<h1>jinqianl's config！</h1>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<table class="table table-hover">
		<thead>
			<tr>
				<td>#</td>
				<td>配置名称</td>
				<td>值</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="config,iterStat:${configList}" class="active">
				<td th:text="${iterStat.count}"></td>
				<td th:text="${config.configName}"></td>
				<td th:text="${config.configValue}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>